// Fonts
@font-face {
    font-family: "PaperMario";
    src: url("https://yamihinotori.github.io/paper-mario-2-guide-new/fonts/FOT-PopJoyStd-B.otf");
    font-display: swap;
  }
  
.background {
    background-color: rgba(0, 0, 0, .3);
    padding-top: .1px;
    padding-bottom: .1px;
}

.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(210, 89, 66, .9);
    height: calc(100vh - 90px);
    margin: 65px 20px 20px 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 0 black;
    border: 4px solid black;
    font-family: 'PaperMario', sans-serif!important;
    background-image: url("https://yamihinotori.github.io/paper-mario-2-guide-new/background/backgroundIcons.png");
    background-size: 130px;

    .mainContainer {
        display: flex;
        flex-direction: column;
        padding: 20px;
        overflow-y: scroll;
        width: calc(100% - 40px);
        height: 100%;

        p {
            margin: 0;
            padding: 0;
        }
    }
}