.collectables {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;

    .collectablesNav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

        .item {
            background-color: rgba(255, 255, 255, .9);
            padding: 8px 12px;
            border-radius: 10px;
            border: 3px solid black;
            font-weight: bold;
            cursor: pointer;
            box-shadow: 2px 2px 0px black;
            margin-bottom: 20px;
            font-family: "PaperMario", sans-serif;
            font-size: 16px;
            width: 270px;
            color: black;
            display: flex;
            flex-direction: row;
        }
    }

    .collectablesContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
}