body {
  background-image: url("/public/background/background.jpeg");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'PaperMario', sans-serif!important;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
